<?xml version="1.0"?>
<config>
  <modules>
    <Midori_TurkishTax>
      <version>0.1.0</version>
    </Midori_TurkishTax>
  </modules>
  <global>
    <helpers>
      <turkishtax>
        <class>Midori_TurkishTax_Helper</class>
      </turkishtax>
    </helpers>
	<models>
	  <turkishtax>
		<class>Midori_TurkishTax_Model</class>
		<resourceModel>turkishtax_mysql4</resourceModel>
	  </turkishtax>
	</models>
	<resources>
	  <customerattribute1431535867_setup>
		<setup>
		  <module>Midori_TurkishTax</module>
		  <class>Mage_Customer_Model_Entity_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </customerattribute1431535867_setup>
	  <customerattribute1431535867_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </customerattribute1431535867_write>
	  <customerattribute1431535867_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </customerattribute1431535867_read>
	</resources>
  </global>
</config> 