<?xml version="1.0"?>
<config>
   <modules>
      <Midori_Conversion>
         <version>1.0.0</version>
      </Midori_Conversion>
   </modules>
   <frontend>
      <layout>
         <updates>
            <midori_conversion  module="Midori_Conversion">
               <file>midori_conversion.xml</file>
            </midori_conversion>
         </updates>
      </layout>
   </frontend>
   <global>
      <models>
         <midori_conversion>
            <class>Midori_Conversion_Model</class>
         </midori_conversion>
      </models>
      <events>
         <customer_login>
            <observers>
               <midori_conversion_userlogin>
                  <type>singleton</type>
                  <class>midori_conversion/observer</class>
                  <method>userLogin</method>
               </midori_conversion_userlogin>
            </observers>
         </customer_login>
         <customer_register_success>
            <observers>
               <midori_conversion_userregister>
                  <type>singleton</type>
                  <class>midori_conversion/observer</class>
                  <method>userRegister</method>
                  </midori_conversion_userregister>
            </observers>
         </customer_register_success>
         <sales_quote_add_item>
            <observers>
               <midori_conversion_addtocart>
                  <type>singleton</type>
                  <class>midori_conversion/observer</class>
                  <method>addToCart</method>
               </midori_conversion_addtocart>
            </observers>
         </sales_quote_add_item>
         <sales_quote_remove_item>
            <observers>
               <midori_conversion_removefromcart>
                  <type>singleton</type>
                  <class>midori_conversion/observer</class>
                  <method>removeFromCart</method>
               </midori_conversion_removefromcart>
            </observers>
         </sales_quote_remove_item>
         
         <catalog_controller_product_view>
            <observers>
               <midori_conversion_productview>
                  <type>singleton</type>
                  <class>midori_conversion/observer</class>
                  <method>productView</method>
               </midori_conversion_productview>
            </observers>
         </catalog_controller_product_view>
         
         <catalog_block_product_list_collection>
            <observers>
               <midori_conversion_productlist>
                  <type>singleton</type>
                  <class>midori_conversion/observer</class>
                  <method>productList</method>
               </midori_conversion_productlist>
            </observers>
         </catalog_block_product_list_collection>
         <checkout_onepage_controller_success_action>
            <observers>
               <midori_conversion_purchaseproduct>
                  <type>singleton</type>
                  <class>midori_conversion/observer</class>
                  <method>purchaseProduct</method>
               </midori_conversion_purchaseproduct>
            </observers>
         </checkout_onepage_controller_success_action>
      </events>
   </global>
</config>