/app/etc/local.xml
/errors/local.xml
/media/css/
/media/dhl
/media/downloadable
/media/import/
/media/js/
/media/catalog/
/media/customer
/media/upload/
/media/wysiwyg/
/media/captcha/
/media/tmp/
/media/xmlconnect
/var/import/
/var/export/
/var/cache/
/var/log/
/var/session/
/var/locks/
/var/package
/var/report/
/var/resource_config.json
sitemap.xml
