<?xml version="1.0"?>
<config>
    <modules>
        <AW_Raf>
            <version>2.1.5</version><platform>ce</platform>
        </AW_Raf>
    </modules>
    <frontend>
        <translate>
            <modules>
                <AW_Raf>
                    <files>
                        <default>AW_Raf.csv</default>
                    </files>
                </AW_Raf>
            </modules>
        </translate>
        <events>
            <sales_quote_save_after>
                <observers>
                    <awraf_quote_save_after>
                        <type>singleton</type>
                        <class>awraf/observer</class>
                        <method>quoteSaveAfter</method>
                    </awraf_quote_save_after>
                </observers>
            </sales_quote_save_after>
            <paypal_prepare_line_items>
                <observers>
                    <awraf_paypal_observer>
                        <type>singleton</type>
                        <class>awraf/observer</class>
                        <method>paypalPrepare</method>
                    </awraf_paypal_observer>
                </observers>
            </paypal_prepare_line_items>
            <controller_action_predispatch>
                <observers>
                    <awraf_front_controller_predispatch>
                        <type>singleton</type>
                        <class>awraf/observer</class>
                        <method>frontControllerPredispatch</method>
                    </awraf_front_controller_predispatch>
                </observers>
            </controller_action_predispatch>
            <core_block_abstract_to_html_after>
                <observers>
                    <awraf_block_abstract_after>
                        <type>singleton</type>
                        <class>awraf/observer</class>
                        <method>coreBlockAbstractToHtmlAfter</method>
                    </awraf_block_abstract_after>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
        <routers>
            <awraf>
                <use>standard</use>
                <args>
                    <module>AW_Raf</module>
                    <frontName>awraf</frontName>
                </args>
            </awraf>
        </routers>
        <layout>
            <updates>
                <awraf module="AW_Raf">
                    <file>aw_raf.xml</file>
                </awraf>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <awraf_admin>
                <use>admin</use>
                <args>
                    <module>AW_Raf</module>
                    <frontName>awraf_admin</frontName>
                </args>
            </awraf_admin>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <AW_Raf>
                    <files>
                        <default>AW_Raf.csv</default>
                    </files>
                </AW_Raf>
            </modules>
        </translate>
        <layout>
            <updates>
                <awraf module="AW_Raf">
                    <file>aw_raf.xml</file>
                </awraf>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <sales>
            <quote>
                <totals>
                    <awraf>
                        <class>awraf/total_quote_discount</class>
                        <after>wee,discount,tax,tax_subtotal,grand_total</after>
                        <renderer>awraf/checkout_total</renderer>
                    </awraf>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <awraf>
                        <class>awraf/total_invoice_rafs</class>
                        <after>wee,discount,tax,tax_subtotal,grand_total</after>
                    </awraf>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <awraf>
                        <class>awraf/total_creditmemo_rafs</class>
                        <after>wee,discount,tax,tax_subtotal,grand_total</after>
                    </awraf>
                </totals>
            </order_creditmemo>
        </sales>
        <pdf>
            <totals>
                <awraf translate="title">
                    <title>Discount for referred friends</title>
                    <source_field>awrafs</source_field>
                    <font_size>8</font_size>
                    <display_zero>1</display_zero>
                    <sort_order>650</sort_order>
                </awraf>
            </totals>
        </pdf>
        <events>
            <customer_save_before>
                <observers>
                    <awraf_customer_save_observer>
                        <type>singleton</type>
                        <class>awraf/observer</class>
                        <method>customerSaveBefore</method>
                    </awraf_customer_save_observer>
                </observers>
            </customer_save_before>
            <customer_save_after>
                <observers>
                    <awraf_customer_save_observer>
                        <type>singleton</type>
                        <class>awraf/observer</class>
                        <method>customerSaveAfter</method>
                    </awraf_customer_save_observer>
                </observers>
            </customer_save_after>
            <customer_delete_before>
                <observers>
                    <awraf_customer_delete_observer>
                        <type>singleton</type>
                        <class>awraf/observer</class>
                        <method>customerDeleteBefore</method>
                    </awraf_customer_delete_observer>
                </observers>
            </customer_delete_before>
            <sales_order_place_after>
                <observers>
                    <awraf_order_palce_after>
                        <type>singleton</type>
                        <class>awraf/observer</class>
                        <method>orderPlaceAfter</method>
                    </awraf_order_palce_after>
                </observers>
            </sales_order_place_after>
            <sales_order_invoice_load_after>
                <observers>
                    <awraf_add_on_order_invoice_load>
                        <class>awraf/observer</class>
                        <method>invoiceLoadAfter</method>
                    </awraf_add_on_order_invoice_load>
                </observers>
            </sales_order_invoice_load_after>
            <sales_order_invoice_save_after>
                <observers>
                    <awraf_invoice_save_after_observer>
                        <type>singleton</type>
                        <class>awraf/observer</class>
                        <method>invoiceSaveAfter</method>
                    </awraf_invoice_save_after_observer>
                </observers>
            </sales_order_invoice_save_after>
        </events>
        <models>
            <awraf>
                <class>AW_Raf_Model</class>
                <resourceModel>awraf_mysql4</resourceModel>
            </awraf>
            <awraf_mysql4>
                <class>AW_Raf_Model_Mysql4</class>
                <entities>
                    <rule>
                        <table>aw_raf2_rule</table>
                    </rule>
                    <activity>
                        <table>aw_raf2_activity</table>
                    </activity>
                    <transaction>
                        <table>aw_raf2_transaction</table>
                    </transaction>
                    <discount>
                        <table>aw_raf2_discount</table>
                    </discount>
                    <referral>
                        <table>aw_raf2_referral</table>
                    </referral>
                    <trigger>
                        <table>aw_raf2_trigger</table>
                    </trigger>
                    <order_to_ref>
                        <table>aw_raf2_orderref</table>
                    </order_to_ref>
                    <statistics>
                        <table>aw_raf2_statistics</table>
                    </statistics>
                </entities>
            </awraf_mysql4>
        </models>
        <resources>
            <awraf_setup>
                <setup>
                    <module>AW_Raf</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </awraf_setup>
            <awraf_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </awraf_write>
            <awraf_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </awraf_read>
        </resources>
        <blocks>
            <awraf>
                <class>AW_Raf_Block</class>
            </awraf>
        </blocks>
        <helpers>
            <awraf>
                <class>AW_Raf_Helper</class>
            </awraf>
        </helpers>
        <template>
            <email>
                <awraf_invite_template translate="label">
                    <label>aheadWorks - Refer a Friend Invitation</label>
                    <file>aw_raf/invite.html</file>
                    <type>html</type>
                </awraf_invite_template>
            </email>
        </template>
    </global>
    <default>
        <awraf>
            <general>
                <calculate>1</calculate>
                <min_limit>0.01</min_limit>
            </general>
            <invite>
                <template>awraf_invite_template</template>
                <email_sender>general</email_sender>
                <enabled>1</enabled>
            </invite>
        </awraf>
    </default>
</config>