<?xml version="1.0"?>
<config>
  <modules>
    <Magik_Scrollingcart>
      <version>0.1.0</version>
    </Magik_Scrollingcart>
  </modules>
  <frontend>
    <routers>
      <scrollingcart>
        <use>standard</use>
          <args>
            <module>Magik_Scrollingcart</module>
            <frontName>scrollingcart</frontName>
          </args>
      </scrollingcart>
    </routers>
		<layout>
		  <updates>
			<scrollingcart>
			  <file>scrollingcart.xml</file>
			</scrollingcart>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <scrollingcart>
        <class>Magik_Scrollingcart_Helper</class>
      </scrollingcart>
    </helpers>
	<blocks>
	  <scrollingcart>
		<class>Magik_Scrollingcart_Block</class>
	  </scrollingcart>
	</blocks>
	<models>
	  <scrollingcart>
		<class>Magik_Scrollingcart_Model</class>
		<resourceModel>scrollingcart_mysql4</resourceModel>
	  </scrollingcart>
	  <scrollingcart_mysql4>
		<class>Magik_Scrollingcart_Model_Mysql4</class>
		<entities>		  
			 
        </entities>
	  </scrollingcart_mysql4>
	</models>
	<resources>
	  <scrollingcart_setup>
		<setup>
		  <module>Magik_Scrollingcart</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </scrollingcart_setup>
	  <scrollingcart_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </scrollingcart_write>
	  <scrollingcart_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </scrollingcart_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <scrollingcart>
	    <use>admin</use>
		<args>
		  <module>Magik_Scrollingcart</module>
		  <frontName>scrollingcart</frontName>
		</args>
	  </scrollingcart>
	</routers>
  </admin>
  <adminhtml>
	
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		
	  </resources>
	</acl>
	<!--<layout>
	  <updates>
		<scrollingcart>
		  <file>scrollingcart.xml</file>
		</scrollingcart>
	  </updates>
	</layout>-->
  </adminhtml>
   <default>
	    <scrollingcart_section translate="scrollingcart" module="scrollingcart">
		<scrollingcart_group>                
		    <scartdisplay>1</scartdisplay>
		    <scartposition>right</scartposition>
		    <scartsearch>1</scartsearch>
		    <scartbacktop>1</scartbacktop>
		</scrollingcart_group>
		<scrollingcartcustom_group>
		    <scartbackground>#ffffff</scartbackground>
		    <scartlabel>#333333</scartlabel>
		    <scartprdname>#066e70</scartprdname>
		    <scartprice>#000000</scartprice>
		    <scartbtnbgcolor>#066e70</scartbtnbgcolor>
		    <scartbtntxtcolor>#ffffff</scartbtntxtcolor>
		    <scartdelete>1</scartdelete>
		     <scarttop>30%</scarttop>
		</scrollingcartcustom_group>
	    </scrollingcart_section>
  </default>
</config> 