<?xml version="1.0"?>
<config>
    <modules>
        <Dolphin_Slideshow>
            <version>1.0.3</version>
        </Dolphin_Slideshow>
    </modules>
    <frontend>
        <routers>
            <slideshow>
                <use>standard</use>
                <args>
                    <module>Dolphin_Slideshow</module>
                    <frontName>slideshow</frontName>
                </args>
            </slideshow>
        </routers>
        <!--<layout>
            <updates>
                <slideshow>
                    <file>slideshow.xml</file>
                </slideshow>
            </updates>
        </layout>-->
    </frontend>
	<adminhtml>
		<layout>
			<updates>
				<slideshow>
					<file>slideshow.xml</file>
				</slideshow>
			</updates>
		</layout>
	</adminhtml>
    <global>
        <models>
            <slideshow>
                <class>Dolphin_Slideshow_Model</class>
                <resourceModel>slideshow_mysql4</resourceModel>
            </slideshow>
            <slideshow_mysql4>
                <class>Dolphin_Slideshow_Model_Mysql4</class>
                <entities>
                    <slideshow>
                        <table>slideshow</table>
                    </slideshow>
                </entities>
            </slideshow_mysql4>
        </models>
        <resources>
            <slideshow_setup>
                <setup>
                    <module>Dolphin_Slideshow</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </slideshow_setup>
            <slideshow_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </slideshow_write>
            <slideshow_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </slideshow_read>
        </resources>
        <blocks>
            <slideshow>
                <class>Dolphin_Slideshow_Block</class>
            </slideshow>
        </blocks>
        <helpers>
            <slideshow>
                <class>Dolphin_Slideshow_Helper</class>
            </slideshow>
        </helpers>
    </global>
	<default>
		<slideshow>
			<general>
				<width>900</width>
				<height>320</height>
				<overlayer>false</overlayer>
				<pause_on_click>false</pause_on_click>
				<portrait>false</portrait>
				<thumbnails>false</thumbnails>
				<bar_position>bottom</bar_position>
				<skin>camera_grey_skin</skin>
				<cols>6</cols>
				<rows>4</rows>
				<pie_diameter>38</pie_diameter>
				<sliced_cols>0</sliced_cols>
				<sliced_rows>0</sliced_rows>
				<time>7000</time>
				<trans_period>1200</trans_period>
				<grid_difference>250</grid_difference>
			</general>
			<effects>
				<fx>random</fx>
				<loader_color>CCCCCC</loader_color>
				<loader_bg_color>222222</loader_bg_color>
				<loader_opacity>0.8</loader_opacity>
				<loader_padding>2</loader_padding>
				<loader_stroke>7</loader_stroke>
			</effects>
		</slideshow>
	</default>
    <admin>
        <routers>
            <slideshow>
                <use>admin</use>
                <args>
                    <module>Dolphin_Slideshow</module>
                    <frontName>slideshow</frontName>
                </args>
            </slideshow>
        </routers>
    </admin>
</config>