<?xml version="1.0" encoding="UTF-8"?>
<config>
    <tabs>
        <interactone>
            <label>InteractOne</label>
            <sort_order>195</sort_order>
        </interactone>
    </tabs>

    <sections>
        <pinit translate="label" module="pinit">
            <label>PIN IT Button</label>
            <tab>interactone</tab>
            <frontend_type>text</frontend_type>
            <sort_order>71</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label">
                    <label>General</label>
                    <sort_order>600</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
					</fields>
                </general>
            </groups>
        </pinit>
    </sections>
</config>