<?xml version="1.0"?>
<config>
    <modules>
        <Magik_Deziresettings>
            <version>0.1.1</version>
        </Magik_Deziresettings>
    </modules>
    <admin>
        <routers>
            <deziresettings>
                <use>admin</use>
                <args>
                    <module>Magik_Deziresettings</module>
                    <frontName>deziresettings</frontName>
                </args>
            </deziresettings>
        </routers>
    </admin>            
	<adminhtml>
        <layout>
            <updates>
                <deziresettings>
                    <file>deziresettings.xml</file>
                </deziresettings>
            </updates>
        </layout>
        <menu>
            <magik translate="title" module="deziresettings">
                <title>Magik Dezire</title>
                <sort_order>9999</sort_order>
                <children>
                    <dezire translate="title" module="deziresettings">
                        <title>Settings</title>
                        <sort_order>10</sort_order>
                        <children>
                            <settings translate="title" module="deziresettings">
                                <title>Theme Settings</title>
                                <sort_order>10</sort_order>
                                <action>adminhtml/system_config/edit/section/deziresettings</action>
                            </settings> 
                            <restore translate="title" module="deziresettings">
                                <title>Restore Defaults</title>
                                <sort_order>20</sort_order>
                                <action>deziresettings/adminhtml_restore</action>
                            </restore>
                        </children>
                    </dezire>
                </children>
            </magik>
        </menu>
		<translate>
		     <modules>
		         <Magik>
		             <files>
		                 <default>Magik_Deziresettings.csv</default>
		             </files>
		         </Magik>
		     </modules>
		 </translate>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
			                <children>
			                    <config>
			                        <children>
			                            <deziresettings>
			                                <title>Dezire Theme Settings</title>
			                            </deziresettings>
			                        </children>
			                    </config>
			                </children>
			            </system>
						<magik>
			                <children>
                                <dezire>
                                    <title>Dezire</title>
                                    <children>
                                        <settings>
                                            <title>Theme Settings</title>
                                        </settings> 
                                        <restore>
                                            <title>Restore Defaults</title>
                                        </restore>
                                    </children>
                                </dezire>
			                </children>
			            </magik>
					</children>
				</admin>
			</resources>
		</acl>
    </adminhtml>
	<global>
        <blocks>
            <deziresettings>
                <class>Magik_Deziresettings_Block</class>
            </deziresettings>
        </blocks>
        <helpers>
            <deziresettings>
                <class>Magik_Deziresettings_Helper</class>
            </deziresettings>
        </helpers>
		<models>
            <deziresettings>
                <class>Magik_Deziresettings_Model</class>
            </deziresettings>
        </models>
        <resources>
            <deziresettings_setup>
                <setup>
                    <module>Magik_Deziresettings</module>
	                <class>Magik_Deziresettings_Model_Resource_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </deziresettings_setup>
            <deziresettings_write>
                <connection>
                  <use>core_write</use>
                </connection>
            </deziresettings_write>
            <deziresettings_read>
               <connection>
                <use>core_read</use>
              </connection>
            </deziresettings_read>
        </resources>
    </global>
	<default>
		<deziresettings>
			<deziresettings_appearance>
				<footer>informative</footer>
				<width>flexible</width>				
				<font>Quantico</font>				
				<!--<category></category>-->
				<color></color>
				<header_bg_color></header_bg_color>
				<header_fg_color></header_fg_color>
				<footer_bg_color></footer_bg_color>
				<footer_fg_color></footer_fg_color>
				<content_bg_color></content_bg_color>
			</deziresettings_appearance>
			<deziresettings_header>
                                <navigation_home>0</navigation_home>                               
                        </deziresettings_header>
			<deziresettings_labels>
				<new_label>1</new_label>
				<new_label_position>top-left</new_label_position>
				<sale_label>1</sale_label>
				<sale_label_position>top-right</sale_label_position>
			</deziresettings_labels>
			<deziresettings_footer>
			        <footer_google_analytics></footer_google_analytics>
                                <footer_google_analytics_path></footer_google_analytics_path>                                
			</deziresettings_footer>
			<deziresettings_social>
			        <social_link>1</social_link>
			        <facebook_social_link_path>#</facebook_social_link_path>
			        <twitter_social_link_path>#</twitter_social_link_path>
                                <googleplus_social_link_path>#</googleplus_social_link_path>
                                <rss_social_link_path>#</rss_social_link_path>      
                                <pinterest_social_link_path>#</pinterest_social_link_path> 
                                <linkedin_social_link_path>#</linkedin_social_link_path>
                                <youtube_social_link_path>#</youtube_social_link_path>
                        </deziresettings_social>
                        <deziresettings_products>
                                <upsell_product>1</upsell_product>
                                <related_product>1</related_product>
                                <nextprevious_product>1</nextprevious_product>
                        </deziresettings_products>                                              
                        <deziresettings_shoppingcart>
                                <shoppingcart_top>1</shoppingcart_top>
                        </deziresettings_shoppingcart>
                        <deziresettings_cloudzoom>
                                <cloudzoom_view>1</cloudzoom_view>
                        </deziresettings_cloudzoom>
		</deziresettings>
	</default>
</config>