/*============ blog-post ============*/

.blog_fix {
        width:100%;
        text-align: left;
        padding:0px;
        margin:auto;
        padding-top:30px;
        background:#ffffff;
        padding-bottom:20px;
        margin-top:45px
}
.blog_post {
        position: relative;
        width:1150px;
        vertical-align: top;
        padding-bottom: 30px;
        margin:auto;
}
.blog_post ul {
        position: relative;
        list-style: none;
        margin: 0;
        padding: 0;
        overflow:hidden
}
.blog_post li {
        width: 265px;
        float: left;
       /* margin-right:28px;*/
        border-radius:2px;
        list-style: none !important;
}
.blog_post li:last-child {
        margin-right:0px
}
.blog-title {
        color: #000000;
        height: 50px;
        margin: 0 auto 0px;
        text-align: left;
        text-transform: none;
		border: none;
        margin-bottom:30px
}
.blog-title h2:after {
        bottom: 3px;
        content: "";
        left: 0px;
        position: absolute;
        right: 3px;
        top: 0px;
        text-shadow:none;
        /*border-bottom:3px #D74069 solid;*/
}

.blog-title h2 {
  font-size: 15px;
  text-transform: uppercase /*1.3333em*/;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  color: #D74069;
  width:265px;
  display:inline-block;
  transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
  letter-spacing: 0.5px;
  margin-top: 0;
  padding: 10px 0px 9px 5px;
  text-align:left; line-height:37px;
}

/*
.blog-title h2 {
        color: #000;
        font-size:24px;
        font-weight: normal;
        margin-top: 0;
        padding: 10px 0px 9px 5px;
        position: relative;
        text-transform: uppercase;
        display:inline-block;
        width:265px;
        text-align:left; line-height:37px;
}
*/
.blog_post img {
        max-width: 100%;
        height: auto !important;
        border-radius:5px;
}
.latest-news ul li img {
        margin-bottom: 10px;
        width: 100%;
}
.latest-news ul li h2 {
        font-size: 16px;
        height: 22px;
        overflow: hidden;
        font-weight:normal;
        padding-bottom:5px
}
.latest-news ul li h3 {
        color: #5e5f5f;
        font-weight: normal;
        font-size: 13px;
}
.latest-news ul li p {
        font-size: 14px;
        line-height: 20px;
        margin: 10px 0px 20px;
        text-align: left;
}
.latest-news ul li .f-block {
        border-top: 1px dotted #ddd;
        padding: 10px 0px 0px 0px;
}
.latest-news a {
        color:#D74069
}

.latest-news ul > li > a {
        color:#D74069;
	    height: 165px;
	    display: block;
}

.latest-news .icon-calendar {
        margin-right:5px
}
/*============ blog-End ============*/  

.blogmate-index-index .slider-intro { display:none; }
.blogmate-index-index .offer-banner { display:none; }
.blogmate-index-index .testimonials { display:none; }
.blogmate-index-index .best-sales-slider { display:none; }
.blogmate-index-index .banner-section { display:none; }
.blogmate-index-index .brand-logo { display:none; }
.blogmate-index-index .blog_fix.latest-news { display:none; }

.blogmate-view-post .slider-intro { display:none; }
.blogmate-view-post .offer-banner { display:none; }
.blogmate-view-post .testimonials { display:none; }
.blogmate-view-post .best-sales-slider { display:none; }
.blogmate-view-post .banner-section { display:none; }
.blogmate-view-post .brand-logo { display:none; }
.blogmate-view-post .blog_fix.latest-news { display:none; }

.blogmate-view-category .slider-intro { display:none; }
.blogmate-view-category .offer-banner { display:none; }
.blogmate-view-category .testimonials { display:none; }
.blogmate-view-category .best-sales-slider { display:none; }
.blogmate-view-category .banner-section { display:none; }
/*============ Blog start ============*/
.wrapper{width:1150px;}
.site-content {float:left;width:69%;margin:24px 0 0;}
.widget-area {float:right;width:26%;background:#ffffff;padding:10px;margin:24px 0 0;}
.entry-header .entry-title {font-size: 26px;line-height: 1.2em;text-transform: none;margin-bottom: 6px;}
#secondary .widget{margin-bottom:10px;}
.blogmate-index-index select{width:100px;}
.blogmate-index-index .pager .limiter label, .toolbar label {display:none;}
.blogmate-view-category select{width:100px;}
.blogmate-view-category .pager .limiter label, .toolbar label {display:none;}
.blogmate-view-post select{width:100px;}
.blogmate-view-post .pager .limiter label, .toolbar label {display:none;}
.blogmate-view-post .group-select .legend {padding-top:10px;font-size:18px;}
 .blogmate-view-post .group-select li .input-box {margin-bottom: 20px;}
@media only screen and (min-width: 170px) and (max-width: 319px) {
.site-content{ width:100%}
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
#primary{ width:300px; padding:0}
#secondary{ width:280px;padding:10px}
.site-content{ width:100%}
.widget-area{ width:100%; background:#ffffff;padding: 10px;}
.limiter{ text-align:left;}
.entry-header .entry-title{ text-align:left;}
.catthumb{ width:300px; margin:0;}
.entry-content img,
.comment-content img,
.widget img,
img.header-image,
.author-avatar img,
img.wp-post-image {
    border-radius: 3px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2); margin-left:5px;
}
.entry-content h3, .comment-content h3{ text-align:left;}
.blog_post li {border-radius: 2px;float: left;margin-bottom: 10px;margin-right: 0; width: 300px;}
.blog_post {width:300px;}
.blog_fix {margin: 30px auto auto;padding: 15px 0 20px;}
.blog-title h2 {margin-left:0;}
.blog-title h2:after {border-bottom:none;}
}
@media only screen and (min-width: 480px) and (max-width: 567px) {
#primary{ width:450px; padding:0}
#secondary{ width:430px; padding:10px;}
.site-content{ width:100%}
.widget-area{ width:100%;background:#ffffff;padding: 10px;}
.limiter{ text-align:left;}
.entry-header .entry-title{ text-align:left;}
.catthumb{margin:0 12px 0px 0;}
.entry-content img,
.comment-content img,
.widget img,
img.header-image,
.author-avatar img,
img.wp-post-image {
    border-radius: 3px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2); margin-left:5px;
}
.entry-content h3, .comment-content h3{ text-align:left;}
.blog_post li {border-radius: 2px;float: left;margin-bottom: 10px;margin-right: 0;margin-left:100px;}
.blog_post {width:450px;}
.blog_fix {margin: 30px auto auto;padding: 15px 0 20px;}
.blog-title h2 {margin-left:0;}
.blog-title h2:after {border-bottom:none;}
}
@media only screen and (min-width:568px) and (max-width:767px) {
#primary{ width:530px; padding:0}
#secondary{ width:510px; padding:10px}
.site-content{ width:100%}
.widget-area{ width:100%;background:#ffffff;padding: 10px;}
.limiter{ text-align:left;}
.entry-header .entry-title{ text-align:left;}
.catthumb{margin:0 12px 0px 0;}
.entry-content img,
.comment-content img,
.widget img,
img.header-image,
.author-avatar img,
img.wp-post-image {
    border-radius: 3px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2); margin-left:5px;
}
.entry-content h3, .comment-content h3{ text-align:left;}
.blog_post li {border-radius: 2px;float: left;margin-bottom: 10px;margin-right: 0;margin-left:155px;}
.blog_post {width:530px;}
.blog_fix {margin: 30px auto auto;padding: 15px 0 20px;}
.blog-title h2 {margin-left:0;}
.blog-title h2:after {border-bottom:none;}
}
@media only screen and (min-width: 768px) and (max-width:977px) {
#primary header{ width:520px;}
#primary{ width:520px; padding:0}
#secondary{ width:190px; padding:10px}
.site-content{ width:100%}
.widget-area{ width:100%;background:f8f8f8;padding: 10px;}
.limiter{ text-align:left;}
.entry-header .entry-title{ text-align:left;}
.catthumb{margin:0 12px 0px 0;}
.entry-content img,
.comment-content img,
.widget img,
img.header-image,
.author-avatar img,
img.wp-post-image {
    border-radius: 3px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2); margin-left:5px;
}
.entry-content h3, .comment-content h3{ text-align:left;}
.blog_post ul {margin-left:95px;}
.blog_post li {border-radius: 2px;margin-bottom: 10px;margin-right: 0;margin-left:15px;}
.blog_post {width:740px;}
.blog_fix {margin: 30px auto auto;padding: 15px 0 20px;}
.blog-title h2 {margin-left:0;}
.blog-title h2:after {border-bottom:none;}
}
@media only screen and (min-width: 978px) and (max-width:1024px) {
#primary header{ width:760px;}
#primary{ width:760px; padding:0}
#secondary{ width:200px; padding:10px}
.site-content{ width:100%}
.widget-area{ width:100%;background:#ffffff;padding: 10px;}
.limiter{ text-align:left;}
.entry-header .entry-title{ text-align:left;}
.catthumb{margin:0 12px 0px 0;}
.entry-content img,
.comment-content img,
.widget img,
img.header-image,
.author-avatar img,
img.wp-post-image {
    border-radius: 3px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
.entry-content h3, .comment-content h3{ text-align:left;}
.blog_post li {border-radius: 2px;margin-bottom: 10px;margin-right: 0;margin-right:12px; width:230px;}
.blog_post {width:960px; padding-bottom:10px;}
.latest-news ul li p{ min-height:80px;}
.blog_fix {margin: 30px auto auto;padding: 15px 0 20px;}
.blog-title h2 {margin-left:0;}
.blog-title h2:after {border-bottom:none;}
}

.entry-content{
    margin-bottom:30px;
}

a.more-link{
    color:#d74069;
}