<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Temando_Temando>
            <version>1.1.3</version>
        </Temando_Temando>
    </modules>
    <global>
        <models>
            <temando>
                <class>Temando_Temando_Model</class>
                <resourceModel>temando_mysql4</resourceModel>
            </temando>
            <temando_mysql4>
                <class>Temando_Temando_Model_Mysql4</class>
                <entities>
                    <box><table>temando_box</table></box>
                    <quote><table>temando_quote</table></quote>
                    <shipment><table>temando_shipment</table></shipment>
                    <manifest><table>temando_manifest</table></manifest>
                    <carrier><table>temando_carrier</table></carrier>
                </entities>
            </temando_mysql4>
        </models>
        <blocks>
            <temando>
                <class>Temando_Temando_Block</class>
            </temando>
            <checkout>
                <rewrite>
                    <cart_shipping>Temando_Temando_Block_Cart_Shipping</cart_shipping>
                </rewrite>
            </checkout>
        </blocks>
        <helpers>
            <temando>
                <class>Temando_Temando_Helper</class>
            </temando>
        </helpers>
        <resources>
            <temando_setup>
                <setup>
                    <module>Temando_Temando</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </temando_setup>
            <temando_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </temando_write>
            <temando_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </temando_read>
        </resources>
        <sales>
            <shipping>
                <carriers>
                    <temando>
                        <class>Temando_Temando_Model_Shipping_Carrier_Temando</class>
                    </temando>
                </carriers>
            </shipping>
        </sales>
        <events>
            <sales_order_place_after>
                <observers>
                    <temando_sales_order_place_after_handler>
                        <type>model</type>
                        <class>Temando_Temando_Model_Observer</class>
                        <method>createTemandoShipment</method>
                        <args></args>
                    </temando_sales_order_place_after_handler>
                </observers>
            </sales_order_place_after>
            <controller_action_predispatch_checkout_cart_estimatePost>
		<observers>
		    <retail_product_view>
			<type>singleton</type>
			<class>Temando_Temando_Model_Observer</class>
			<method>hookCartSaveAddress</method>
		    </retail_product_view>
		</observers>
            </controller_action_predispatch_checkout_cart_estimatePost>
        </events>
    </global>
    <frontend>
        <routers>
            <etemando>
                <use>standard</use>
                <args>
                    <module>Temando_Temando</module>
                    <frontName>etemando</frontName>
                </args>
            </etemando>
        </routers>
        <layout>
            <updates>
                <temando>
                    <file>temando.xml</file>
                </temando>
            </updates>
        </layout>
        <translate>
            <modules>
                <Temando_Temando>
                    <files>
                        <default>Temando_Temando.csv</default>
                    </files>
                </Temando_Temando>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <temando>
                <use>admin</use>
                <args>
                    <module>Temando_Temando</module>
                    <frontName>temando</frontName>
                </args>
            </temando>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <temando>
                    <file>temando.xml</file>
                </temando>
            </updates>
        </layout>
        <translate>
            <modules>
                <Temando_Temando>
                    <files>
                        <default>Temando_Temando.csv</default>
                    </files>
                </Temando_Temando>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <temando>
            <general>
                <active><![CDATA[0]]></active>
                <sandbox><![CDATA[1]]></sandbox>
		<client><![CDATA[20420]]></client>
		<username><![CDATA[TEMANDOTEST]]></username>
		<password><![CDATA[temandopass1]]></password>
                <title><![CDATA[Temando]]></title>
                <payment_type><![CDATA[Account]]></payment_type>
            </general>
            <options>
                <show_transit_type><![CDATA[1]]></show_transit_type>
		<show_transit_time><![CDATA[1]]></show_transit_time>
            </options>
            <insurance>
                <status><![CDATA[optional]]></status>
            </insurance>
            <carbon>
                <status><![CDATA[optional]]></status>
            </carbon>
	    <footprints>
                <status><![CDATA[optional]]></status>
            </footprints>
            <pricing>
                <error_process><![CDATA[view]]></error_process>
                <method><![CDATA[dynamic]]></method>
                <shipping_fee><![CDATA[0]]></shipping_fee>
                <handling_fee><![CDATA[0]]></handling_fee>
                <handling_type><![CDATA[F]]></handling_type>
            </pricing>
            <units>
                <measure><![CDATA[Centimetres]]></measure>
                <weight><![CDATA[Kilograms]]></weight>
            </units>
            <defaults>
                <class><![CDATA[General Goods]]></class>
                <subclass><![CDATA[Household Goods]]></subclass>
                <packaging><![CDATA[0]]></packaging>
                <fragile><![CDATA[0]]></fragile>
                <length><![CDATA[10]]></length>
                <width><![CDATA[10]]></width>
                <height><![CDATA[10]]></height>
            </defaults>
	    <origin>
                <contact_name><![CDATA[Temando User]]></contact_name>
                <company_name><![CDATA[Temando]]></company_name>
                <street><![CDATA[Level 4, 140 William Street]]></street>
                <city><![CDATA[WOOLLOOMOOLOO]]></city>
                <postcode><![CDATA[2011]]></postcode>
                <country><![CDATA[AU]]></country>
                <region><![CDATA[NSW]]></region>
                <type><![CDATA[Business]]></type>
                <phone1><![CDATA[02 1234 5678]]></phone1>
                <email><![CDATA[sales@temando.com]]></email>
	    </origin>
        </temando>
        <carriers>
            <temando>
                <active>0</active>
                <model>temando/shipping_carrier_temando</model>
                <allowed_methods></allowed_methods>
                <weightunit>Grams</weightunit>
                <name>Temando</name>
                <title>Temando</title>
                <always_use_defaults>0</always_use_defaults>
                <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
                <sallowspecific>1</sallowspecific>
                <specificcountry>AU</specificcountry>
                <showmethod></showmethod>
                <sort_order>0</sort_order>
            </temando>
        </carriers>
    </default>
</config>
