<?xml version="1.0"?>
<config>
    <modules>
        <Neev_Skuautogenerate>
            <version>0.1.0</version>
        </Neev_Skuautogenerate>
    </modules>
    <frontend>
        <routers>
            <skuautogenerate>
                <use>standard</use>
                <args>
                    <module>Neev_Skuautogenerate</module>
                    <frontName>skuautogenerate</frontName>
                </args>
            </skuautogenerate>
        </routers>
        <layout>
            <updates>
                <skuautogenerate>
                    <file>skuautogenerate.xml</file>
                </skuautogenerate>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<skuautogenerate>
				<use>admin</use>
				<args>
					<module>Neev_Skuautogenerate</module>
					<frontName>skuautogenerate</frontName>
				</args>
			</skuautogenerate>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<skuautogenerate module="skuautogenerate">
				<title>SKU Auto Generator</title>
				<sort_order>71</sort_order>               			
						<action>skuautogenerate/adminhtml_skuautogenerate</action>
				</skuautogenerate>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Neev_Skuautogenerate>
							<title>Skuautogenerate Module</title>
							<sort_order>10</sort_order>
						</Neev_Skuautogenerate>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<skuautogenerate>
					<file>skuautogenerate.xml</file>
				</skuautogenerate>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <skuautogenerate>
                <class>Neev_Skuautogenerate_Model</class>
                <resourceModel>skuautogenerate_mysql4</resourceModel>
            </skuautogenerate>
            <skuautogenerate_mysql4>
                <class>Neev_Skuautogenerate_Model_Mysql4</class>
                <entities>
                    <skuautogenerate>
                        <table>skuautogenerate</table>
                    </skuautogenerate>
                </entities>
            </skuautogenerate_mysql4>
        </models>
        <resources>
            <skuautogenerate_setup>
                <setup>
                    <module>Neev_Skuautogenerate</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </skuautogenerate_setup>
            <skuautogenerate_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </skuautogenerate_write>
            <skuautogenerate_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </skuautogenerate_read>
        </resources>
        <blocks>
            <skuautogenerate>
                <class>Neev_Skuautogenerate_Block</class>
            </skuautogenerate>
            <adminhtml>
                <rewrite>                                       
                    <catalog_product_edit>Neev_Skuautogenerate_Block_Adminhtml_Catalog_Product_Edit</catalog_product_edit>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <skuautogenerate>
                <class>Neev_Skuautogenerate_Helper</class>
            </skuautogenerate>
        </helpers>
    </global>
</config>